PYGEOMODEL_API_BASE_URL=/PyGeoModel
PYGEOMODEL_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
PYGEOMODEL_BACKEND_BIND=127.0.0.1
PYGEOMODEL_FRONTEND_BIND=127.0.0.1
PYGEOMODEL_TIANDITU_TOKEN=
PYGEOMODEL_TIANDITU_REFERER=http://124.221.208.30
VITE_MAP_ENGINE=maplibre
VITE_MAPBOX_ACCESS_TOKEN=
